<li>
	<div class="flex-wrapper">
		<span id="playlist-item" class="flex-item">
			{{playlist_id}}. {{playlist_name}}
		</span>
		<span id="create-date-item" class="flex-item">
			{{createdAt}}
		</span>
		<span id="modify-date-item" class="flex-item">
			{{updatedAt}}
		</span>

		<div id="btns" class="flex-item">
			<button class="change-playlist-name" data-id="{{playlist_name}}" data-newName="TBD">
				Change Name
			</button>

			<button class="delete-playlist" data-id="{{this.playlist_id}}">Delete</button>
		</div>

	</div>
</li>
	