<li class="m-3">
	<div class="flex-wrapper">
		<span id="user-item" class="flex-item">
			{{user_id}}.
		</span>
		<span id="user-item" class="flex-item">
			{{user_name}}
		</span>
		<span id="email-item" class="flex-item">
			{{user_email}}
		</span>
		<span id="password-item" class="flex-item" hidden>
			{{user_password}}
		</span>
		{{!-- <div> --}}
			<span id="create-date-item" class="flex-item">
				{{created_at}}
			</span>
			<span id="modify-date-item" class="flex-item">
				{{updated_at}}
			</span>
			{{!-- <span id="btns" class="flex-item m-2">
				<button class="delete-user btn" data-id="{{this.user_id}}">Delete</button>
			</span> --}}
		{{!-- </div> --}}

		<div id="btns" class="flex-item">
			<button class="delete-user" data-id="{{this.user_id}}">Delete</button>
		</div>
	</div>
</li>
	