<td>
			{{user_id}}. {{user_name}}, 
</td>
<td>
			{{user_email}}
</td>
<td>
			{{user_password}}
</td>
<td>
			{{created_at}}
</td>
<td>
			{{updated_at}}
</td>
<td>
			<button class="delete-user" data-id="{{this.user_id}}">Delete</button>
</td>
	