<li>
	<div class="flex-wrapper">
		<span id="user-item" class="flex-item">
			{{user_id}}. {{user_name}}
		</span>
		<span id="create-date-item" class="flex-item">
			{{createdAt}}
		</span>
		<span id="modify-date-item" class="flex-item">
			{{updatedAt}}
		</span>

		<div id="btns" class="flex-item">
			<button class="change-user-name" data-id="{{user_name}}" data-newName="TBD">
				Change Name
			</button>

			<button class="delete-user" data-id="{{this.user_id}}">Delete</button>
		</div>

	</div>
</li>
	